<?=$header?>
<section class="container col-md-12 col-lg-10" id="container-messenger">
<div class="d-flex justify-content-center row m-0 h-100">

<div class="d-flex justify-content-center">
    <nav class="navbar navbar-light bg-light rounded w-100">
      <div class="container-fluid">
        <a class="navbar-brand">
          <i class="bi bi-messenger"></i> <?=$title?>
        </a>
        <div class="d-flex">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle d-flex flex-row " href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <p class="d-flex fw-bold m-1 align-items-center" id="user-name"></p>
                <img src="upload/avatar-0.webp" alt="avatar" id="user-avatar" class="rounded-circle d-flex align-self-start m-1 shadow-1-strong" width="40">
              </a>
              <ul class="dropdown-menu dropdown-menu-end position-absolute" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#" id="sock-recon-butt">reconnect</a></li>
                <li><a class="dropdown-item" href="#" id="sock-disc-butt">disconnect</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/user/quit">Выход</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>    
</div>  

<div class="d-flex justify-content-center mt-3">
        <div class="container col-md-6 col-lg-5 col-xl-4 text-center w-25">
            <span class="fs-5">Контакты</span>
        </div>  
        <div class="container col-md-6 col-lg-7 col-xl-8 text-center w-75">
            <span class="fs-5">Сообщения</span>
        </div> 
</div> 

    <div class="container d-flex flex-row mb-auto h-75">
        
        <div class="container bg-white col-md-6 col-lg-5 col-xl-4 overflow-y-scroll overflow-x-auto rounded-start p-2 w-25 cast-scroll">
            <ul class="list-unstyled mb-0 h-100" id="container-contacts"></ul>
        </div>
      
        <div class="container bg-white col-md-6 col-lg-7 col-xl-8 rounded-end p-2 w-75">
			<div class="overflow-y-scroll overflow-x-hidden p-2 rounded h-75 cast-scroll" id="container-messages">
			</div>
			<div class="mt-4 h-25">
			    <h6 class="mb-1" id="container-messages-name" data-text="Чат с "></h6>
				<div class="d-flex form-floating d-none" id="container-sender">
                    <textarea class="form-control flex-grow-1 rounded-0 rounded-start h-100" placeholder="" id="sock-msg" maxlength="<?=$maxChar?>" style="resize: none;"></textarea>
                    <label for="sock-msg">Сообщение</label>
                    <button type="button" class="btn btn-outline-primary btn-lg rounded-0 rounded-end" id="sock-send-butt">OK</button>
				</div>
			</div>
		</div>
      
    </div>

<div class="d-flex justify-content-center">
    <nav class="navbar navbar-light bg-light rounded  w-100">
      <div class="container-fluid">
        <span class="navbar-text"><i class="bi bi-pencil-square fs-5 m-1"></i><?=$expression?></span>
        <div class="navbar-text" id="status-alert"></div>
      </div>
    </nav>
</div>

</div>

<div style="display:none" id="case-contact">
    <li class="p-2 border-bottom" id="case-contact-%ID%" data-active="bg-secondary bg-gradient bg-opacity-10" data-user="%ID%" style="cursor:pointer;">
        <a class="text-decoration-none" id="case-contact-a-%ID%">
          <div class="d-flex w-100" style="max-height: 60px;">
            <div class="pt-1">
                <img src="" alt="avatar"  id="case-contact-avatar-%ID%"
                  class="rounded-circle align-self-center me-1 shadow-1-strong" width="60">
            </div>
            <div class="pt-1 overflow-hidden w-100">
              <p class="fw-bold break-word overflow-hidden mb-0" id="case-contact-name-%ID%"></p>
              <p class="small text-muted text-break overflow-hidden" id="case-contact-lastmess-%ID%"></p>
            </div>
            <div class="pt-1">
              <p class="small text-muted text-end mb-1" id="case-contact-status-%ID%"></p>
              <p class="badge bg-danger rounded-pill float-end" id="case-contact-unreadmess-%ID%"></p>
            </div>
          </div>
        </a>
    </li>    
</div>

<div style="display:none" id="case-message-i">
    <div class="d-flex justify-content-between mb-4" id="case-message-%ID%">
        <div class="card w-100">
          <div class="card-header d-flex justify-content-between p-3">
            <p class="fw-bold mb-0" id="case-message-name-%ID%"></p>
            <p class="text-muted small mb-0" id="case-message-time-%ID%"></p>
          </div>
          <div class="card-body">
            <p class="mb-0" id="case-message-msg-%ID%"></p>
          </div>
        </div>
        <img src="" alt="avatar" id="case-message-avatar-%ID%"
          class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
    </div>
</div>

<div style="display:none" id="case-message-from">
    <div class="d-flex justify-content-between mb-4" id="case-message-%ID%">
        <img src="" alt="avatar" id="case-message-avatar-%ID%"
          class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
        <div class="card w-100">
          <div class="card-header d-flex justify-content-between p-3">
            <p class="fw-bold mb-0" id="case-message-name-%ID%"></p>
            <p class="text-muted small mb-0" id="case-message-time-%ID%"></p>
          </div>
          <div class="card-body">
            <p class="mb-0" id="case-message-msg-%ID%"></p>
          </div>
        </div>
    </div>
</div>

<div style="display:none" id="case-message-default">
    <div class="position-relative top-50 text-center">
        <p class="mb-0 text-muted">Выберите чат</p>
    </div>    
</div>

</section>
<?=$footer?>